body {
  height: 200vh;
}

.example-container {
  width: 100vw;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 5rem;
}

.load-btn {
  background: blue;
  height: 100%;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.animate-container {
  animation: backgroundChange 3s linear 1s infinite alternate;
}

.animate-text {
  animation: slideIn 3s ease;
  width: 80vw;
}

.animate-title {
  animation: slideIn 2s ease-out;
  width: 80vw;
}

@keyframes backgroundChange {
    from {background-color: red;}
    to {background-color: yellow;}
}

@keyframes slideIn {
    from {margin-left: 100vw;}
    to {margin-left: 0;}
}
